<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Music Store</title>
    <link rel="stylesheet" href="boot/css/bootstrap.min.css">
    <style>
        .nav-link {
            color: #fff;
            background: transparent;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#">
            <h2 color="#5cb85c">PostIt</h2>
        </a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="postmessage.html">Post a Message </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create a group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="groupboard.html">View Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron">
            <h1 align="center"> Create a Group </h1>
        </div>
    </div>

    <div class="container col-lg-4 well">
        <form>
            <div class="form-group">
                <label for="email">Group Name</label>
                <input type="text" class="form-control" id="groupname">
            </div>

            <button type="submit" class="btn btn-default btn-success">Create Group</button>
        </form>
    </div>



    <script src='boot/js/jquery-2.1.4.min.js'>
    </script>
    <script src='boot/js/bootstrap.min.js'>
    </script>


</body>

</html>