<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> POSTIT-Group Board </title>
    <link rel="stylesheet" href="boot/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->

    <style>
        .left-element {
            background: green;
            float: left;
        }
        
        .right-element {
            background: gray;
            float: right;
        }
        
        .row {
            border: 1px solid #fff;
        }
        
        .nav-link {
            color: #fff;
            background: transparent;
        }
    </style>
</head>



<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#">PostIt</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="postmessage.html">Post a Message </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="creategroup.html">Create a group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="groupboard.html">View Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 align="center"> Groups I belong to </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 left-element">
                <h2 align="center">Group I belong to</h2>
            </div>
            <div class="col-md-9 right-element">
                <h3 align="center">Messages in Group I belong to</h3>
                <h3 align="center">Messages in Group I belong to</h3>
                <h3 align="center">Messages in Group I belong to</h3>
                <h3 align="center">Messages in Group I belong to</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-1 left-element">
                <h2 align="center">Group I belong to</h2>
            </div>
            <div class="col-md-9 right-element">
                <h3 align="center">Messages in Group I belong to</h3>
                <h3 align="center">Messages in Group I belong to</h3>
                <h3 align="center">Messages in Group I belong to</h3>
                <h3 align="center">Messages in Group I belong to</h3>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="boot/js/bootstrap.js">
</script>

</html>