<!DOCTYPE HTML>
<html>

<head>
    <title> POSTIT </title>
    <link rel="stylesheet" href="boot/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="formContainers">
        <div class="text-center home-text">WELCOME TO POSTIT</div>

        <div class="form-group">
            <h4 style="color: #4BA934; padding-left: 10px;"> Follow details below to request for a password reset link </h4>
            <form>
                <div class="form-group " style="padding: 0px 10px 5px 10px; ">
                    <label for="exampleInputEmail1 ">Email address</label>
                    <input type="email " class="form-control " id="exampleInputEmail1 " placeholder="Email "> <br />
                    <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Get password reset link</button>

                </div>

            </form>
        </div>
</body>
<script type="text/javascript " src="boot/js/bootstrap.js ">
</script>

</html>