<!DOCTYPE HTML>
<html>

<head>
    <title> POSTIT </title>
    <link rel="stylesheet" href="boot/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="formContainers">
        <div class="text-center home-text">WELCOME TO POSTIT</div>
        <p class="text-center register"> REGISTER </p>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="text-center">
                <div class="checkbox">
                    <label>
      <input type="checkbox"> Remember me
    </label>
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </div>
            <p class="text-center question">Already a member? <a href="index.html" target="_self"> Login </a> </p>
        </form>
    </div>
</body>
<script type="text/javascript" src="boot/js/bootstrap.js">
</script>

</html>